---
layout: default
title: Home
---

<!-- {% include intro.html %} -->

<section class="post-list">
  <div class="container">
    {% for post in paginator.posts %}
      {% unless post.next %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
        {% endif %}
      {% endunless %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" onmouseover="this.style.color='#0086B3'" onmouseout="this.style.color = '#000'";>{{ post.title }}</a></div>
      </article>
    {% endfor %}
  </div>
</section>
{% include pagination.html %}
