
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/io/blogs/categories' }}">Categories</a></li>
      <li><a href="{{ '/io/blogs/tags' }}">Tags</a></li>
<!--       <li><a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">Categories</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">Tags</a></li> -->
<!--       <li><a href="{{ '/resume' | prepend: site.baseurl | prepend: site.url }}">Résumé</a></li>
      <li><a href="{{ '/portfolio' | prepend: site.baseurl | prepend: site.url }}">Portfolio</a></li> -->
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
<!--       <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li> -->
    </ul>
  </div>
</nav>
