<!-- {% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    {% assign url = site.baseurl | append: "/" %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page/' | append: paginator.previous_page %}
      {% endif %}
      <li><a class="prev" href="{{ paginator.previous_page_path | relative_url }}" title="Articles new">&laquo; Prev</a></li>
    {% else %}
      <li><span class="prev disabled">&laquo; Prev</span></li>
    {% endif %}
    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>
    {% if paginator.next_page %}
      <li><a class="next" href="{{ paginator.next_page_path | relative_url }}" title="Articles old">Next &raquo;</a></li>
    {% else %}
      <li><span class="next disabled">Next &raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %} -->


{% if paginator.total_pages > 1 %}
<div class="pagination" align="center">
  {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      &laquo; Prev
    </a>
  {% else %}
    <span class="prev disabled">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a class="page-number" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        {{ page }}
      </a>
    {% else %}
      <a class="page-number" href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', page }}">
        {{ page }}
      </a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      Next &raquo;
    </a>
  {% else %}
    <span class="next disabled">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
