---
layout: page
title: Categories
---

{% comment%}
Here we generate all the categories.
{% endcomment%}

{% assign rawcats = "" %}
{% for post in site.posts %}
{% assign tcats = post.categories | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}

{% assign cats = "" %}

{% for cat in rawcats %}
{% if cat != "" %}

{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}

{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<!-- <h1 class="page-title">
  {{ page.title }}
</h1> -->
<br/>

<div class="posts">
<p>
{% for ct in cats %}
<a href="#{{ ct | slugify }}" class="codinfox-category-mark"> {{ ct }} </a> &nbsp;&nbsp;
{% endfor %}
<!-- <a href="#no-category" class="codinfox-category-mark"> No Category </a> &nbsp;&nbsp; -->
</p>

{% for ct in cats %}
<h2 id="{{ ct | slugify }}">{{ ct }}</h2>
<ul class="codinfox-category-list">
  {% for post in site.posts %}
  {% if post.categories contains ct %}
  <li>
    <h5>
      <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
      </a>
      {% for category in post.categories %}
      <a class="codinfox-tag-mark" href="/blogs/categories/#{{ category | slugify }}" style="color:#333333cc;">#{{ category }}</a>
      {% endfor %}
    </h5>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

<!-- <h2 id="no-category">No Category</h2>
<ul class="codinfox-category-list">
  {% for post in site.posts %}
  {% unless post.categories %}
  <li>
    <h5>
      <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
      </a>
      {% for tag in post.tags %}
      <a class="codinfox-tag-mark" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </h5>
  </li>
  {% endunless %}
  {% endfor %}
</ul> -->

</div>
