---
layout: default
---

<article class="page container" style="text-align: justify;">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  <div class="page-content">
    {{ content }}
  </div>
</article>
